/* line 5, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
body {
  margin: 0 0 0 0;
  padding: none;
}

/* line 10, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.navbar {
  width: 100%;
  background-color: white;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
/* line 17, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.navbar a {
  margin-right: 10px;
  font-family: 'Pontano Sans', sans-serif;
  color: black;
}

/* line 24, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
html {
  scroll-behavior: smooth;
}

/* line 28, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.background-image1 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1478358161113-b0e11994a36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: fit;
  position: relative;
}

/* line 39, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.background-image2 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 50, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.background-image3 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 60, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.background-image4 {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1496814795703-e5b242546673?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 81, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.section-text {
  position: absolute;
  top: 6px;
  text-align: center;
  color: white;
  font-family: 'Pontano Sans', sans-serif;
}

/* line 89, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.text {
  width: 40%;
  height: 50vh;
  margin-left: 5vw;
  text-align: left;
  line-height: 25px;
  position: absolute;
  top: 100px;
  letter-spacing: 3px;
}

/* line 100, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.texth1 {
  color: white;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 55px;
  font-weight: lighter;
  padding-bottom: 5px;
}

/* line 108, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.textp {
  color: white;
  font-size: 30px;
  font-family: 'Pontano Sans', sans-serif;
}

/* line 114, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.other {
  font-family: 'Pontano Sans', sans-serif;
}

/* line 119, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.image {
  width: 200px;
  height: 200px;
  border: solid black 1px;
  margin-top: 50px;
  background-image: url(https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

/* line 130, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
* {
  box-sizing: border-box;
}

/* line 134, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
/* line 139, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.column {
  float: left;
  width: 100%;
}

/* line 145, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.display-grid {
  display: grid;
  padding-top: 40px;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* line 153, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px 16px 16px 16px;
  padding-top: 16px;
  text-align: center;
  height: 300px;
  background-color: #f1f1f1;
  border-radius: 2px;
  transition: transform 1s;
}
/* line 162, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.card:hover {
  transform: scale3d(1.04, 1.04, 1.04);
}

/* line 168, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.seekrs {
  background-image: url(https://images.unsplash.com/photo-1470653503930-01819ee7ec83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 174, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.zeroplusone {
  background-image: url(https://images.unsplash.com/photo-1542156946-bb7c945b1785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 180, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.cocktail {
  background-image: url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 186, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
.container-portfolio {
  margin: 0 5vw;
}

@media screen and (max-width: 600px) {
  /* line 191, /Users/sophiespratley/code/sophie-cv-website/app/assets/stylesheets/pages.scss */
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
