<div class="navbar d-flex">
<a href="#1">Education</a>
<a href="#2">Skills</a>
<a href="#3">Work Experience</a>
<a href="#4">Portfolio</a>

</div>

<div class="background-image1 img-gradient">
  <div class="container">
    <div class="text">
       <h1 class="texth1">Sophie Spratley</h1>
       <p class="textp">Digital Project Manager</p>
       <p class="textp">Product Owner</p>
    </div>
  </div>
</div>

<div class="other">
  <p>blah blah blah</p>
</div>

<div class="background-image2">
  <div class="container">
    <div class="section-text text">
      <section id="1"></section>
      <h1 class="texth1">Education</h1>
      <p> 9 week coding bootcamp || Le Wagon London || 01/19 - 03/19</p>
      <p> Legal Practice Course  || University of Law || 2010 - 2011</p>
      <p> Law with Business LLB (1st class honors) || University of Brighton || 2006 - 2010</p>
      <p> A-Levels (Law, Business, Psychology)|| Farnborough Sixth Form College || 2003 - 2005</p>
      <p> GSCES (10)|| Marist Convent Senior School || 1998 - 2003</p>
    </div>
  </div>
</div>

<div class="other">
  <p>blah blah blah</p>
</div>

<div class="background-image3">
  <!-- <div class="container"> -->
    <section id="3"></section>
  <div class="section-text text">
    <h1 class="texth1">Work Experience</h1>
    <p> Digital Project Manager || TSB || 03.18 - 12.18</p>
    <p> Account Executive || Big Review TV || 02.17 - 08.17</p>
    <p> Project Manager || Mandara || 10.14 - 12.16</p>
    <p> Private PA || UHNWI || 02.14 - 09.14</p>
    <p> EA to COO & CFO || Aspen || 05.12 - 04.14</p>
    <p> Contract Analyst || IBM || 07.08 - 08.09</p>
  </div>
  <!-- </div> -->
</div>

<div class="other">
    <p> Don't need anything here really</p>
</div>

<div class="background-image4">
  <div class="container">
    <div class="section-text text">
      <section id="2"></section>
    <h1 class="texth1">Skills</h1>
    <p> Agile Project Management</p>
    <p> Product Management</p>
    <p> Stakeholder Management</p>
    <p> Contract Negotiation</p>
    <p> Business Development</p>
    <p> Incident Management</p>
    <p> Executive Presentations</p>
    </div>
  </div>
</div>

<div class="other">
  <section id="4"></section>
    <h1>Portfolio</h1>
    <p> Text that excites people</p>
    <p> Text that excites people</p>
    <p> Text that excites people</p>
    <p> Text that excites people</p>
    <p> Text that excites people</p>
</div>
