<header>
  <div class="container">
    <div class="column">
      <nav>
        <ul>
          <li><a href="#1">Education</a></li>
          <li><a href="#2">Skills</a></li>
          <li><a href="#3">Work Experience</a></li>
          <li><a href="#4">Portfolio</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>



<!--

<div class="navbar d-flex">
  <a href="#1">Education</a>
  <a href="#2">Skills</a>
  <a href="#3">Work Experience</a>
  <a href="#4">Portfolio</a>
</div>
 -->
<div class="background-image1 img-gradient">
  <div class="container">
    <div class="text">
       <h1 class="texth1">Sophie Spratley</h1>
       <p class="textp">Digital Project Manager</p>
       <p class="textp">Product Owner</p>
    </div>
  </div>
</div>

<div class="other">
  <br>
</div>

<div class="background-image2">
  <div class="container">
    <div class="section-text text">
      <section id="1"></section>
      <h1 class="texth1">Education</h1>
      <p> 9 week coding bootcamp || Le Wagon London || 01/19 - 03/19</p>
      <p> Legal Practice Course  || University of Law || 2010 - 2011</p>
      <p> Law with Business LLB (1st class honors) || University of Brighton || 2006 - 2010</p>
      <p> A-Levels (Law, Business, Psychology)|| Farnborough Sixth Form College || 2003 - 2005</p>
      <p> GSCES (10)|| Marist Convent Senior School || 1998 - 2003</p>
    </div>
  </div>
</div>

<div class="other">
  <br>
</div>

<div class="background-image3">
    <section id="3"></section>
  <div class="section-text text">
    <h1 class="texth1">Work Experience</h1>
    <p> TSB | Digital Project Manager & Product Owner | (Contract) |  Mar18 -Dec18  |  London</p>
    <p> TRAVELLING Australia/Asia (Jan17 - Mar18)</p>
    <p>BIG REVIEW TV |  Account Executive | Feb17 - Aug17 |  Sydney</p>
    <p> MANDARA ENERGY LTD. - (Oct14 - Dec16) <br>
      Project Manager  |  Sep15 - Dec16  |  London
      Compliance Coordinator  | Oct14 - Sep15
    </p>
    <p> Personal Assistant  |  Apr14 - Sep14  |  London</p>
    <p> ASPEN RE  | EA to COO/CFO  |  May12 - Apr14   |  London</p>
    <p> NICKY CLARKE  |  PA to CEO  |  Oct11 -  May12  |  London</p>
    <p>IBM | Contract Analyst  |  Jul08 - Jul09  |  London
</p>
  </div>
</div>

<div class="other">
  <br>
</div>

<div class="background-image4">
  <div class="container">
    <div class="section-text text">
      <section id="2"></section>
    <h1 class="texth1">Skills</h1>
    <p> Agile Project Management</p>
    <p> Product Management</p>
    <p> Stakeholder Management</p>
    <p> Contract Negotiation</p>
    <p> Business Development</p>
    <p> Incident Management</p>
    <p> Executive Presentations</p>
    </div>
  </div>
</div>

<div class="container-portfolio">
  <h1 class="texth1" style="color: white">Portfolio</h1>
  <div class="display-grid">
    <div class="column">
      <div class="card seekrs">
      <p class="card-text">Seekrs</p></div>
    </div>
    <div class="column">
      <div class="card zeroplusone"><p class="card-text">Zeroplusone</p></div>
    </div>
    <div class="column">
      <div class="card cocktail"><p class="card-text">Coming Soon</p></div>
    </div>
  </div>
</div>


<script>
    window.onscroll = () => {
  const header = document.querySelector('#header');
  if(this.scrollY <= 10) header = ''; else header.scroll = 'scroll';
};

</script>
