<div class="background-image">
  <div class="container">
    <div class="text">
       <h1 id="texth1">Sophie Spratley</h1>
       <p id="textp">Digital Project Manager</p>
       <p id="textp">Product Owner</p>
    </div>
  </div>
</div>

<div class="other" style:"height: 600px">
  <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
    <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
      <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
        <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
          <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
            <h1> kasdl;fkjalsdfkja;lkdsfjlasdf</h1>
</div>
